:root
{
    --dark--color:#19283f;
    --green-color:#0f5132;
    --red-color:#bf342a;
}
.navbar
{
    background-color: #2e6da4;
}
body
{
    font-family: 'roboto','sans-serif';
    height: 10000px;
}
.navbar .navbar-nav .nav-link
{
    color: white;
}
.navbar .navbar-nav .nav-link .active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus
{
 color: #0f5132;
}
.navbar .search
{
    border-left: 1px solid var(--green-color);
}
.navbar .search:focus,
.navbar .search i
{
    color: var(--green-color);
}
/*for menu bar*/
.navbar .navbar-toggler
{
    font-size: 25px;
    border-color: white;
    color: white;
}
.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]
{
    border-color: var(--green-color);
    border-radius: 5px;
}
/*Landing Part*/
.landing
{
     background-color: var(--dark--color);
     /*view hieght - navbar height*/
     min-height: calc(100vh - 72px);
}
.btn-width
{
    width: 80px;
}
.btn-subscribe
{

    background-image: url("images/about.jpg") ;
    border: none;
}